
/* =========== */
/*   IMPORTS   */
/* =========== */

/* FRAMEWORK */
@import "myFramework.css";
@import "myToogle.css";
@import "myButton.css";
@import "mySlider.css";
@import "mySwitch.css";

/* PAGE */
@import "sectionPageTop.css";
@import "sectionPageMiddle.css";
@import "sectionPageBottom.css";
@import "sectionPageFooter.css";
@import "histogram.css";

/* OVERLAY */
@import "sectionOverlayParameter.css";
@import "sectionOverlayLoading.css";


/* ==================== */
/*   GLOBAL VARIABLES   */
/* ==================== */

:root {
    --body-background-color: #ffffff;
    --page-background-color: #e7e9eb;
    --radius-ref: 300px;
    --window-max-width: 500px;
}


/* OTHER */

body {
    /* TYPO */
    font-family: 'Inter', Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    height: 100dvh;
    background-color: var(--body-background-color);
}



/* ============= */
/*   MAIN PAGE   */
/* ============= */

.css-page {
    /* position */
    position: relative;
    min-height: calc(100dvh);
    transform-origin: 0 0;
    transform: scale(1);
    /* overflow-y: hidden; */

    margin: 0 auto; /* center horizontally */
    max-width: var(--window-max-width);

    /* style */
    /* padding: 10px; */
    background-color: var(--page-background-color);
}




.css-page > * {
    border: 0px solid blue
}
.css-middle-section > * {
    border: 0px solid rgb(255, 139, 139)
}
.css-footer-section > * {
    border: 0px solid rgb(255, 139, 139)
}
